// main: style.less

@nav-button-width: 172px;
@nav-button-height: 64px;

.arrow-down {
	display: block;
	width: 24px;
	height: 32px;
	margin: 2px auto;
	background: url("../img/nav/arrow_down.gif");
	background-position: 100px 100px;
	background-repeat: no-repeat;
	&.active {
		background-position: 0px 0px;
	}
}

.nav-column(@x) {
	background-position: @x*@nav-button-width @nav-button-height*2;
	&:hover {
		background-position: @x*@nav-button-width @nav-button-height;
	}
	&.active {
		background-position: @x*@nav-button-width 0px;
	}
}

#logo img {
	display: block;
	margin: 20px auto;
}

.navbar-inverse {
	background: black;
}

.navbar .icon-bar {
	background-color: #fff;
}

.navpic {
	width: @nav-button-width;
	height: @nav-button-height;
	cursor: pointer;
	background-repeat: no-repeat;
	margin: 2px auto;
	background: url("../img/nav/full.png");
	&.home {
		.nav-column(1);
	}
	&.about {
		.nav-column(0);
	}
	&.portfolio {
		.nav-column(2);
	}
	&.blog {
		.nav-column(4);
	}
	&.contact {
		.nav-column(3);
	}
	&.affiliates {
		.nav-column(5);
	}
}
