// main: style.less


@portfolio-nav-button-width: 172px;
@portfolio-nav-button-height: 64px;

.portfolio-nav-column(@x) {
	background-position: @x*@portfolio-nav-button-width @portfolio-nav-button-height*2;
	&:hover {
		background-position: @x*@portfolio-nav-button-width @portfolio-nav-button-height;
	}
	&.active {
		background-position: @x*@portfolio-nav-button-width 0px;
	}
}

.arrow-right {
	display: inline-block;
	width: 34px;
	height: 24px;
	margin: 20px 4px;
	background: url("../img/portfolio/nav/arrow-right.gif");
	background-position: 100px 100px;
	background-repeat: no-repeat;
	&.active {
		background-position: 0px 0px;
	}
}

.portfolio-item {
	margin-bottom: 25px;
}

.portfolio-nav-pic {
	width: 172px;
	height: 64px;
	margin: 3px 0;
	display: inline-block;
	background-repeat: no-repeat;
	background: url("../img/portfolio/nav/port-full.png");
	&.featured {
		.portfolio-nav-column(1);
	}
	&.animation {
		.portfolio-nav-column(2);
	}
	&.char-dsgn {
		.portfolio-nav-column(3);
	}
	&.digi-paint {
		.portfolio-nav-column(4);
	}
	&.game-dsgn {
		.portfolio-nav-column(5);
	}
	&.pixl-art {
		.portfolio-nav-column(6);
	}
	&.sketch {
		.portfolio-nav-column(7);
	}
}

.gallery {
	&.animation {}
}
